:root {
    font-size: 16px;
    --dark-color: #1a1b1c;
    --light-color: #e3ded9;
    --accent-color: #bba686;
    --primary-color: #416270;
    --secondary-color: #8aa4ab;

    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "Source Sans Pro", sans-serif;

    --ff-xl: 5rem;
    --ff-lg: 4.125rem;
    --ff-md: 3.125rem;
    --ff-avg: 2.825rem;
    --ff-sm: 2rem;
    --ff-xs: 1.625rem;
    --ff-xxs: 1.125rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projects-main {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.projects-main a {
    width: 100%;
    padding: 40px 20px;
    transition: all 0.3s ease;
}
.projects-main a:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 20px var(--accent-color);
}

.project-title {
    font-family: var(--ff-primary);
    font-size: 2.5rem;
    color: var(--dark-color);
    line-height: 105%;
    margin-bottom: 28px;
}
.project-subtext {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--ff-xs);
    color: var(--dark-color);
    line-height: 165%;
    margin-left: 70px;
}

/* Media Quaries */

@media only screen and (max-width: 1440px) {
    .projects-main {
        max-width: 800px;
    }
    .project-title {
        font-size: var(--ff-sm);
    }
    .project-subtext {
        font-size: 1.3rem;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 1366px) {
    .projects-main {
        max-width: 700px;
    }
    .projects-main a {
        padding: 30px 20px;
    }
    .project-title {
        font-size: var(--ff-xs);
        margin-bottom: 15px;
    }
    .project-subtext {
        font-size: var(--ff-xxs);
        margin-left: 45px;
    }
}

@media only screen and (max-width: 1024px) {
    .projects-main {
        max-width: 600px;
    }
    .projects-main a {
        padding: 20px 10px;
    }
    .project-title {
        font-size: var(--ff-xxs);
    }
    .project-subtext {
        font-size: 1rem;
        margin-left: 35px;
    }
}

@media only screen and (max-width: 414px) {
    .projects-main {
        max-width: 350px;
    }
    .projects-main a {
        box-shadow: 1px 1px 8px var(--accent-color);
        margin: 10px 0;
    }
}

@media only screen and (max-width: 375px) {
    .projects-main {
        max-width: 300px;
    }
    .project-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .project-subtext {
        font-size: 0.75rem;
        margin-left: 30px;
    }
}
