:root {
    font-size: 16px;
    --dark-color: #1a1b1c;
    --light-color: #e3ded9;
    --accent-color: #bba686;
    --primary-color: #416270;
    --secondary-color: #8aa4ab;

    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "Source Sans Pro", sans-serif;

    --ff-xl: 5rem;
    --ff-lg: 4.125rem;
    --ff-md: 3.125rem;
    --ff-avg: 2.825rem;
    --ff-sm: 2rem;
    --ff-xs: 1.625rem;
    --ff-xxs: 1.125rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skills-main {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-title {
    font-family: var(--ff-primary);
    font-size: var(--ff-lg);
    color: var(--dark-color);
    line-height: 105%;
    margin-bottom: 78px;
}
.skills-title span {
    position: relative;
}
.skills-title span::before {
    content: "";
    position: absolute;
    bottom: 18%;
    z-index: -1;
    width: 100%;
    height: 18px;
    background-color: var(--accent-color);
}
.skills-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    flex: 1 1;
    text-align: center;
    margin: 30px 50px;
    font-size: var(--ff-md);
}
.skill i:hover {
    color: var(--accent-color);
}

/* Media Quaries */
@media only screen and (max-width: 1440px) {
    .skills-main {
        max-width: 800px;
    }
    .skills-title {
        font-size: var(--ff-md);
    }
    .skill {
        font-size: var(--ff-avg);
    }
}

@media only screen and (max-width: 1366px) {
    .skills-main {
        max-width: 700px;
    }
    .skills-title {
        font-size: var(--ff-avg);
        margin-bottom: 48px;
    }
    .skill {
        font-size: var(--ff-sm);
        margin: 15px 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .skills-main {
        max-width: 600px;
    }
    .skills-title {
        font-size: 2.5rem;
    }
    .skill {
        margin: 15px 30px;
    }
}

@media only screen and (max-width: 414px) {
    .skills-title span::before {
        height: 12px;
    }

    .skills-main {
        max-width: 350px;
    }
    .skills-title {
        font-size: var(--ff-sm);
    }
    .skill {
        margin: 15px 10px;
    }
}

@media only screen and (max-width: 375px) {
    .skills-title span::before {
        height: 10px;
    }

    .skills-main {
        max-width: 300px;
    }
    .skills-title {
        font-size: var(--ff-xs);
        margin-bottom: 28px;
    }
    .skill {
        font-size: var(--ff-xs);
    }
}
